*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50px;
    background: #022D7c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px ;
}
.sp{
    font-size: 15px;
    font-weight: normal;
}
.spp{
    color: #00ffff;
}
/* Banner Start */
.banner{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/INDI.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-between;
}
.banner h1{
    font-size: 55px;
    font-weight: normal;    
}
.banner h1 span{
    font-size: 70px;
    display: block;
    font-weight: 600;
}
.banner aside{
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    background: #022D7c;
}
.banner aside input[type]{
    width: 100%;
    height: 40px;
    margin: 5px;
    column-gap: 5px;
    border-spacing: 5px;
}
.banner aside textarea[name]{
    width: 100%;
    height: 100px;
    margin: 5px;
}
.banner aside button{
    width: 100%;
    height: 40px;
    margin: 5px;
    background: #00ffff;
}
table {
    border-spacing: 5px;
/* Banner End */
